*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 28.5px;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 28, 28);
    padding: 1% 4% 1% 4%;
}

.logo img{
    border-radius: 100px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    padding: 20px;
    font-size: 17px;
}

nav li a{
    color: white;
    text-decoration: none;
}

nav li a:hover{
    color: rgb(245, 82, 103);
}

main {
    position: relative;
    height: 2000px;
}
  
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/background_image.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.9; 
}
  
.main_description {
    color: white;
    /* text-align: center; */
    padding: 50px;
    position: relative;
    z-index: 1;
} 

.top_body{
    display: flex;
    margin: 30px;
    align-items: center;
}

.top_body p{
    width: 70%;
    margin-left: 3%;
}

.profil_img{
    width: 250px;
    border-radius: 50px;
    margin-left: 3%;
}

.main_description p {
    font-size: 17px;
}

.main_description table{
    text-align: justify;
    margin: 0% 5% 0% 5%;
}

hr {
    border: none;
    border-top: 4px dotted #999;
    color: #999;
    height: 5px;
    margin: 1% 2% 1% 2%;
  }

.bar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bar_label {
    margin-right: 10px;
    text-align: right;
    width: 100px;
    font-weight: bold;
    color: white;
}

.bar {
    height: 20px;
    background-color: rgb(248, 49, 76);
    margin-bottom: 10px;
    width: 0%;
    transition: width 1s ease-in-out;
}

.experience{
    text-align: justify;
}

.date {
    font-size: 14px;
    font-weight: bold;
  }
  
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.company {
    font-size: 18px;
    font-weight: bold;
    color: #999;
    margin-bottom: 10px;
}

h1{
    font-size: 32px;
}

#deneyimlerim h1{
    margin-top: 400px;
}

.footer{
    display: block;
    padding: 50px;
    background-color: rgb(32, 28, 28);
}

.social_medias{
    display: flex;
    justify-content: space-around;
}

.social_medias a img:hover{
    background-color: white;
}

.social_medias a img{
    width: 36px;
}       

.text{
    color:  #999;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.deneyim_bar{
    display: flex;
    justify-content: center;
}

.caption {
	display: inline-block;
	position: relative;
	margin: 10px;
}

.caption img {
	display: block;
	max-width: 100%;
}

.caption::before,
.caption::after {
	opacity: 0;
	position: absolute;
	width: 100%;
	color: #fff;
	padding: 20px;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.caption::before {
	content: attr(data-title);
	top: 0;
	height: 30%;
	background: #a21f00;
	font-size: 40px;
	font-weight: 300;
}

.caption::after {
	content: '\201C' attr(data-description) '\201D';
	top: 30%;
	height: 70%;
	background: #db2e00;
	font-size: 16px;
	text-align: right;
}

.caption:hover::before,
.caption:hover::after {
	opacity: 1;
}

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}
.grid figure {
	margin: 0;
	position: relative;
}

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.hi-icon-effect-6 .hi-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	/* transition: background 0.2s, color 0.2s;	 */
}

.no-touch .hi-icon-effect-6 .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #64bb5d;
}

.no-touch .hi-icon-effect-6 .hi-icon:hover:before {
	animation: spinAround 2s linear infinite;
}

@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}

}
/* Button 6d */
.btn-6d {
	border: 2px dashed #226fbe;
}

.btn-6d:hover {
	background: transparent;
	color: #226fbe;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}