.general_features{
    background-color: rgb(254, 158, 134);
    display: flex;
    justify-content: center;
}

.general_body{
    display: block;
}

.top_body{
    display: flex;
    margin-top: 10px;
}

.header{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.profil_img{
    width: 200px;
    border-radius: 200px;
}

.social_medias{
    display: flex;
    justify-content: space-around;
}

.title{
    font-size: 50px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

h1{
    font-size: 25px;
}

ul{
    display: flex;
    list-style: none;
}

#navbar{
    padding-left: 70px;
    color: rgb(250, 242, 242);
}

.bg-img 
{
    background-image: url("sky_image.jpg");
    min-height: 380px;
    min-width: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .container {
    position: absolute;
    margin-top: 10px;
    /* width: auto; */
  }
  
  .footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(249, 137, 106);
    padding: 50px;
  }
