*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 28.5px;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 28, 28);
    padding: 1% 4% 1% 4%;
}

.logo img{
    border-radius: 100px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    padding: 20px;
    font-size: 17px;
}

nav li a{
    color: white;
    text-decoration: none;
}

nav li a:hover{
    color: rgb(245, 82, 103);
}

main {
    position: relative;
    height: 2000px;
}
  
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/background_image.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.9; 
}
  
.main_description {
    color: white;
    text-align: center;
    padding: 50px;
    position: relative;
    z-index: 1;
} 

.top_body{
    display: flex;
    margin: 30px;
    align-items: center;
}

.top_body p{
    width: 70%;
    margin-left: 3%;
}

.profil_img{
    width: 250px;
    border-radius: 50px;
    margin-left: 3%;
}

.main_description p {
    font-size: 17px;
}

.main_description table{
    text-align: justify;
    margin: 0% 5% 0% 5%;
}

hr {
    border: none;
    border-top: 4px dotted #999;
    color: #999;
    height: 5px;
    margin: 1% 2% 1% 2%;
  }

.bar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bar_label {
    margin-right: 10px;
    text-align: right;
    width: 100px;
    font-weight: bold;
    color: white;
}

.bar {
    height: 20px;
    background-color: rgb(248, 49, 76);
    margin-bottom: 10px;
    width: 0%;
    transition: width 1s ease-in-out;
}

.experience{
    text-align: justify;
}

.date {
    font-size: 14px;
    font-weight: bold;
  }
  
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.company {
    font-size: 18px;
    font-weight: bold;
    color: #999;
    margin-bottom: 10px;
}

h1{
    font-size: 32px;
}

#deneyimlerim h1{
    margin-top: 400px;
}

.footer{
    display: block;
    padding: 50px;
    background-color: rgb(32, 28, 28);
}

.social_medias{
    display: flex;
    justify-content: space-around;
}

.social_medias a img:hover{
    background-color: white;
}

.social_medias a img{
    width: 36px;
}       

.text{
    color:  #999;
    display: flex;
    justify-content: center;
    font-size: 15px;
}